@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="row">
    <div class="col-12 mt-3">
        <div class="card outline-badge-success">
            <div class="card-content">
                <div class="card-body p-4">
                    <div class="d-md-flex">
                        <div class="my-auto">
                            <i class="far fa-check-circle fa-3x"></i>
                        </div>
                        <div class="content px-md-3 my-3 my-md-0">
                            <span class="mb-0 font-w-600 h5">Success</span><br>
                            <p class="mb-0 font-w-500 tx-s-12">The user's password has succesfully been reset.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>